body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.auth-box {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  background: #111;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 26px;
}

.input-box {
  padding: 12px;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 6px;
}

.auth-button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #e50914;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background: #f6121d;
}

.switch-text {
  text-align: center;
  color: #ccc;
}

.switch-text a {
  color: #e50914;
  text-decoration: none;
}
